:root {
    --b-color: #bebebe;
    --font: black;
    --font-2: #ffffff;
    --font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--b-color);
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
        justify-content: center;
    }
}


header {
    padding: 20px;
    font-family: var(--font-family);
    background-color: var(--b-color);
    color: var(--font);
}

header h1 {
    display: inline-block;
    font-size: 48px;

@media screen and (max-width: 768px) {
    font-size: 44px;
}}
.name {
    color: #888a86;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--font);
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    aspect-ratio: 1498 / 1165;
    width: 100%;
    background-image: url(../images/chuck-the-diver.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    padding: 40px 20px;
    width: 100%;
    display: inline-block;
}
.flow {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: var(--font-family);
    background-color: #3f3f3f;
    color: var(--font-2);
    border-radius: 5px;
}

.flow img {
    max-height: 200px;
    border-radius: 5px;

}
@media screen and (max-width: 768px) {
    .flow img {
        display: flex;
        flex: wrap;
        justify-content: center;
    }

}

.flow h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
#email {
    color: var(--font-2);
}
#email:hover {
    color: var(--font);
    text-decoration: underline;
}
.newer {
    display: flex;
    width: 800px;
    height: 200px;
}
.new {
    display: flex;
    position: relative;
    left: 80px;
}


.newer h2 {
    font-family: var(--font-family);
    padding: 20px;
    text-align: center;
    flex: 1;
}

.line {
    width: 1px;
    height: 100%;
    background-color: #060606;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: right;
}

.box {
    width: 200px;
    height: 100px;
    background-color: #f9f9f9;
    margin: 10px;
    border: 1px solid #ccc;
}
#new-image {
    max-width: 200px;
    max-height: 100px;
}